.modalBackground {
  position: absolute;
width: 1600px;
height: 906px;
left: 0px;
top: 0px;;
  background-color: rgba(0, 0, 0, 0.35); 
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 416px;
  height: 161px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
.plan-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider{
width: 103px;
height: 0px;
left: 793px;
top: 470px;

border: 1px solid #000000;
transform: rotate(90deg);
background-color: #000000;
}
.add-to-button{
  width: 107px;
  height: 29px;
background: #FFF300;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: center;
letter-spacing: -0.015em;
border: none;
color: #2C2C2C;

}