.projectmodalBackground {
    position: absolute;
    width: 1600px;
    height: 906px;
    left: 0px;
    top: 0px;
    ;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectmodalContainer {
    width: 768px;
    height: 374px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

/* .project-down-arrow{
      
    position: absolute;
    width: 53px;
    height: 38px;
    left: 486px;
    top: 452px;
    
    background: #6CFF26;
  } */
.projectmodalContainer h2 {
    position: absolute;
    width: 335px;
    height: 51px;
    left: 477px;
    top: 300px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #414040;
}

.project-list {
    position: absolute;
    left: 444px;
    top: 389px;
}

.project-list th {

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #292525;
}

.project-list tr {
    
    border-radius: 11px;
    padding: 129px;
}
    

.project-down-arrow {

    width: 53px;
    height: 38px;
    background: #6CFF26;
    padding: 5px 15px;
}

.project-down-arrow img {
    width: 24px;
    height: 12px;
}

.project-details td {
    background: #F8F8F8;
    font-size: 25px;

}